{% extends "csv_gen/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-10">
      <h3>Check scheme</h3>
    </div>
  </div>
</div>
<br>

<div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th><b>Title</b></th>
            <th><b>Modified</b></th>
            <th><b>Actions</b></th>
          </tr>
        </thead>

        {% for scheme in schemes %}
          <tbody><tr><th scope="row">X</th>
          <td><a href="">{{scheme.title}}</a></td>
          <td>{{scheme.modified}}</td>
          <td><a href=""><strong>Edit scheme</strong></a>&nbsp;&nbsp;&nbsp;<a href= {% url 'del_view' s_id=scheme.id %} class="text-danger"><strong>Delete</strong></a></td>
          </tr></tbody>
	{% endfor %}
      </table>
</div>

{% endblock %}

