{% extends "csv_gen/base.html" %}

{% block content %}


<form action="{% url 'generate_csv' %}" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h4>Data sets</h4>
      </div>
      <div class="col-1">
        <input type="text" name="rows_number" placeholder="Rows" class="form-control">
        <input type="hidden" name="current_schema" value="{{current_schema}}" />
      </div>
      <div class="col-1">
        <input type="submit" value="Generate Data" class="btn btn-success">
      </div>
    </div>
  </div>
</form>
<br>

<div class="container">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th><b>Created</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
          </tr>
        </thead>

        {% for scheme in schemes %}
          <tbody><tr><th scope="row">{{scheme.id}}</th>
          <td>{{scheme.created}}</td>
          <td>
            {% if scheme.status %}
              <button type="button" class="btn btn-success btn-sm">Ready</button>
            {% else %}
              <button type="button" class="btn btn-secondary btn-sm">Processing</button>
            {% endif %}
          </td>
          <td>
            {% if scheme.status %}
              <a href="/media/{{ MEDIA_URL }}{{scheme.file_name}}"><strong>Download</strong></a></a>
            {% else %}
              Not available
            {% endif %}
          </td>
          </tr></tbody>
	{% endfor %}
      </table>
</div>






{% endblock %}