{% extends "csv_gen/base.html" %}

{% block content %}


<div class="container pb-3 my-sm-3 my-lg-50">
  <div class="card-deck mb-9 text-center">
    <div class="card mb-9 shadow-sm">
      <div class="card-body">

        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}


        <span class="login100-form-title p-b-32">
          Account Login
        </span>

        <form method="post" action="{% url 'login' %}" class="form">
          {% csrf_token %}
          <table>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
         </table>

         <input type="submit" value="login" class="btn btn-primary" />
         <input type="hidden" name="next" value="{{ next }}" />
       </form>

      </div>
    </div>
  </div>
</div>



{% endblock %}